<div class="container mt-4 p-4 justify-content-center">
    <div class="text-center justify-content-center">
        <h3 class="pb-4">Restablecer contraseña</h3>
    </div>
    <form [formGroup]="form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email" aria-label="email" formControlName="email" required>
            <div *ngIf="!form.get('email').valid && form.get('email').touched" class="form-control-feedback col-12">
              <p>Ingresa un correo válido</p>
            </div>
          </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn poli" [disabled]="form.get('email').invalid" (click)='forgot()'>Enviar</button>
        </div>
    </form>
    <div class="row justify-content-center alert alert-success message mt-4" *ngIf="message!=''" role="alert" >
        <span>{{message}}</span>
    </div>
</div>