<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="dataService.isAdmin()">
  <div class="container mt-4 p-1 justify-content-center">
      <div class="d-flex flex-row bd-highlight">
          <div class="p-2 bd-highlight">
              <button type="submit" class="btn poli" routerLink="/escenarios/crear"><i class="fa fa-plus-circle mr-2"></i>Crear Escenario</button>
          </div>
        </div>
  </div>
</ng-container>
<app-scenario *ngIf="scenarios.length!=0" [scenarios]="scenarios" (selectionChange)='selection($event)'></app-scenario>
<app-calendar-user *ngIf="selected!=0" tipoPrestamo="Scenario" [events]="events" (bookingChange)="booking($event)"></app-calendar-user>

<div class="text-center mt-5">
    <div *ngIf='ok' class="alert alert-success" role="alert">
      La reserva se ha creado correctamente.
    </div>
  <button type="button" (click)="addReservation()" class="btn poli mb-4" [disabled]="disable">Enviar</button>
</div>